body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--grey-4);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

:root {
  --color-primary: #ff577f;
  --color-primary-focus: #ff427f;
  --color-primary-negative: #59323f;

  --grey-4: #121214;
  --grey-3: #212529;
  --grey-2: #343b41;
  --grey-1: #868e96;
  --grey-0: #f8f9fa;

  --success: #3fe864;
  --negative: #e83f5b;
}
